# The dot refers to the install_requires section inside setup.py.
# See https://caremad.io/posts/2013/07/setup-vs-requirement/ for why you still
# need a requirements.txt file even though it only refers to setup.py
.
